.start-up-landing-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.start-up-landing-page-image {
  top: 0px;
  left: 670px;
  width: 100px;
  position: absolute;
  object-fit: cover;
}
.start-up-landing-page-startup-landing-profile-page {
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.start-up-landing-page-page2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 700px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.30000001192092896);
}
.start-up-landing-page-background {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 700px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  background-size: cover;
  justify-content: center;
  background-image: url('https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/d5d81d16-68ff-434f-bc0f-22054d63938e/1d22963d-c457-495c-b1bd-c77f9dbc96e9?org_if_sml=15558');
  background-position: center;
}
.start-up-landing-page-navlink {
  left: 379px;
  bottom: 102px;
  position: absolute;
  text-decoration: none;
}
.start-up-landing-page-container1 {
  flex: 0 0 auto;
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.start-up-landing-page-navbar {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.start-up-landing-page-background1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 64px;
  position: absolute;
  border-color: transparent;
}
.start-up-landing-page-image20230301224601648removebgpreview2 {
  top: 5px;
  left: -1px;
  width: 327px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.start-up-landing-page-input-fields {
  top: 180px;
  left: 71px;
  width: 327px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.start-up-landing-page-text {
  top: 101px;
  left: 754px;
  color: rgba(0, 0, 0, 1);
  width: 424px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Quicksand;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.start-up-landing-page-text05 {
  top: 127px;
  left: 70px;
  color: rgba(0, 0, 0, 1);
  width: 457px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.start-up-landing-page-text07 {
  top: 180px;
  left: 71px;
  color: rgba(0, 0, 0, 1);
  width: 533px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.start-up-landing-page-frame16 {
  top: 467px;
  left: 371px;
  width: 277px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.start-up-landing-page-frame161 {
  width: 277px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.start-up-landing-page-frame6 {
  width: 325px;
  display: flex;
  padding: 16px 149px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(72, 191, 145, 1);
}
.start-up-landing-page-text09 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.start-up-landing-page-frame12 {
  top: 467px;
  left: 23px;
  width: 277px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.start-up-landing-page-frame121 {
  width: 277px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.start-up-landing-page-frame61 {
  width: 325px;
  display: flex;
  padding: 16px 149px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(72, 191, 145, 1);
}
.start-up-landing-page-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.start-up-landing-page-frame45 {
  top: 555px;
  left: 23px;
  width: 277px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.start-up-landing-page-frame122 {
  width: 277px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.start-up-landing-page-navlink1 {
  display: contents;
}
.start-up-landing-page-frame62 {
  width: 325px;
  display: flex;
  padding: 16px 149px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(72, 191, 145, 1);
}
.start-up-landing-page-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.start-up-landing-page-text15 {
  top: 181px;
  left: 751px;
  color: rgba(0, 0, 0, 1);
  width: 603px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.start-up-landing-page-text20 {
  top: 237px;
  left: 67px;
  color: rgba(0, 0, 0, 1);
  width: 409px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
