.user-landing-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user-landing-page-navbar {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.user-landing-page-background {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  background-size: cover;
  justify-content: center;
  background-image: url("/playground_assets/background3410-j4vd-200h.png");
  background-position: center;
}
.user-landing-page-image20230301224601648removebgpreview2 {
  top: 5px;
  left: -1px;
  width: 327px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.user-landing-page-button-primary {
  top: 12px;
  left: 1260px;
  width: 140px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.user-landing-page-button-primary1 {
  top: 0px;
  left: 0px;
  width: 140px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.user-landing-page-background1 {
  left: -169px;
  width: 322px;
  bottom: -1px;
  height: 39px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.user-landing-page-text {
  left: -71px;
  color: rgb(255, 255, 255);
  width: 100%;
  bottom: 7px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-landing-page-links {
  top: 21px;
  left: 1045px;
  width: 175px;
  height: 22px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.user-landing-page-text01 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-landing-page-text02 {
  top: 0px;
  left: -41px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.user-landing-page-button {
  left: 904px;
  bottom: 14px;
  position: absolute;
}
.user-landing-page-navlink {
  text-decoration: none;
}
.user-landing-page-contentcarditem5 {
  top: 428px;
  left: 200px;
  width: 1100px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-color: transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.user-landing-page-media {
  width: 245px;
  height: 260px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
}
.user-landing-page-cover {
  top: 0px;
  left: 0px;
  width: 245px;
  height: 260px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(221, 221, 221, 1);
  border-style: solid;
  border-width: 1px;
  background-size: cover;
  background-image: url("/playground_assets/4be3651b-587b-44e2-9bf2-338df26b01d3-n118-300w.undefined");
}
.user-landing-page-cardcontent {
  display: flex;
  padding: 25px 50px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.user-landing-page-text06 {
  color: var(--dl-color-default-mutedcolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 15px;
}
.user-landing-page-text08 {
  color: var(--dl-color-default-textcolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 32px;
  margin-right: 0;
  margin-bottom: 15px;
}
.user-landing-page-text10 {
  color: rgba(132, 132, 132, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 26px;
  margin-right: 0;
  margin-bottom: 15px;
}
.user-landing-page-tags {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.user-landing-page-navlink1 {
  display: contents;
}
.user-landing-page-text15 {
  color: var(--dl-color-default-primarycolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.user-landing-page-navlink2 {
  display: contents;
}
.user-landing-page-text17 {
  color: var(--dl-color-default-primarycolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-landing-page-contentcarditem51 {
  top: 133px;
  left: 200px;
  width: 1100px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-color: transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.user-landing-page-media1 {
  width: 245px;
  height: 260px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
}
.user-landing-page-cover1 {
  top: 0px;
  left: 0px;
  width: 245px;
  height: 260px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(221, 221, 221, 1);
  border-style: solid;
  border-width: 1px;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1508138221679-760a23a2285b?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1fHxyYW5kb20lMjB8ZW58MHx8fHwxNjc4MDQ2ODA2&ixlib=rb-4.0.3&w=300');
}
.user-landing-page-cardcontent1 {
  display: flex;
  padding: 25px 50px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.user-landing-page-text19 {
  color: var(--dl-color-default-mutedcolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 15px;
}
.user-landing-page-text21 {
  color: var(--dl-color-default-textcolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 32px;
  margin-right: 0;
  margin-bottom: 15px;
}
.user-landing-page-text22 {
  color: rgba(132, 132, 132, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 26px;
  margin-right: 0;
  margin-bottom: 15px;
}
.user-landing-page-tags1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.user-landing-page-navlink3 {
  display: contents;
}
.user-landing-page-text27 {
  color: var(--dl-color-default-primarycolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.user-landing-page-navlink4 {
  display: contents;
}
.user-landing-page-text29 {
  color: var(--dl-color-default-primarycolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.user-landing-page-contentcarditem52 {
  left: 200px;
  width: 1100px;
  bottom: 21px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}
.user-landing-page-media2 {
  width: 245px;
  height: 260px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
}
.user-landing-page-cover2 {
  top: 0px;
  left: 0px;
  width: 245px;
  height: 260px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(221, 221, 221, 1);
  border-style: solid;
  border-width: 1px;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1493612276216-ee3925520721?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEzfHxyYW5kb20lMjB8ZW58MHx8fHwxNjc4MDQ2ODA2&ixlib=rb-4.0.3&w=300');
}
.user-landing-page-cardcontent2 {
  display: flex;
  padding: 25px 50px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.user-landing-page-text31 {
  color: var(--dl-color-default-mutedcolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 15px;
}
.user-landing-page-text33 {
  color: var(--dl-color-default-textcolor);
  width: 133px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 32px;
  margin-right: 0;
  margin-bottom: 15px;
}
.user-landing-page-text38 {
  color: rgba(132, 132, 132, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 26px;
  margin-right: 0;
  margin-bottom: 15px;
}
.user-landing-page-tags2 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.user-landing-page-navlink5 {
  display: contents;
}
.user-landing-page-text43 {
  color: var(--dl-color-default-primarycolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.user-landing-page-navlink6 {
  display: contents;
}
.user-landing-page-text45 {
  color: var(--dl-color-default-primarycolor);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
